## 1. Import data, libraries and verify data integrity

In [53]:
# import related library
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv(r'../ECON6600_youth_unemployment_self_employment_COVID.csv')

In [55]:
print(df.shape)

(883228, 9)

In [56]:
df

,SURVYEAR,SURVMNTH,PROV,CMA,AGE_12,SEX,selfemp,unemp,AFTER
0,2019,February,Prince Edward Island,Other CMA or non-CMA,45 to 49 years,Male,0.0,0,0
1,2019,February,Alberta,Calgary,30 to 34 years,Female,0.0,0,0
2,2019,February,British Columbia,Vancouver,60 to 64 years,Female,1.0,0,0
3,2019,February,Manitoba,Winnipeg,60 to 64 years,Male,0.0,0,0
4,2019,February,British Columbia,Vancouver,55 to 59 years,Female,1.0,0,0
...,...,...,...,...,...,...,...,...,...
883223,2020,January,Ontario,NaN,NaN,NaN,NaN,0,0
883224,2020,January,Manitoba,NaN,NaN,NaN,NaN,0,0
883225,2020,January,Saskatchewan,NaN,NaN,NaN,NaN,0,0
883226,2020,January,Alberta,NaN,NaN,NaN,NaN,0,0
883227,2020,January,British Columbia,NaN,NaN,NaN,NaN,0,0

## 2. Data Cleaning and Splitting

In [57]:
# Drop unnecessary SURVYEAR and SURVMNTH columns
df = df.drop(columns=['SURVYEAR', 'SURVMNTH'])

# select data points where the age falls between 15 and 29
df = df[(df['AGE_12'] == '15 to 19 years') | (df['AGE_12'] == '20 to 24 years') | (df['AGE_12'] == '25 to 29 years')]

# select data points for NOT self-employed
df = df[(df['selfemp'] == 0)]

df

,PROV,CMA,AGE_12,SEX,selfemp,unemp,AFTER
9,Saskatchewan,Other CMA or non-CMA,25 to 29 years,Male,0.0,0,0
11,Ontario,Other CMA or non-CMA,20 to 24 years,Male,0.0,0,0
14,Ontario,Hamilton,15 to 19 years,Male,0.0,1,0
31,Quebec,Other CMA or non-CMA,25 to 29 years,Male,0.0,0,0
32,Nova Scotia,Other CMA or non-CMA,20 to 24 years,Male,0.0,0,0
...,...,...,...,...,...,...,...
883179,Quebec,Québec,25 to 29 years,Male,0.0,0,1
883180,Quebec,Montréal,25 to 29 years,Male,0.0,0,1
883189,Alberta,Other CMA or non-CMA,25 to 29 years,Male,0.0,0,1
883193,Ontario,Other CMA or non-CMA,20 to 24 years,Female,0.0,0,1
883202,New Brunswick,Other CMA or non-CMA,25 to 29 years,Female,0.0,0,1

In [58]:
# Conduct OneHotEncoder to the categorical data column （这里问问韬哥）

df_encoded = pd.get_dummies(df, columns=['PROV', 'CMA', 'AGE_12', 'SEX'])
df_encoded

,selfemp,unemp,AFTER,PROV_Alberta,PROV_British Columbia,PROV_Manitoba,PROV_New Brunswick,PROV_Newfoundland and Labrador,PROV_Nova Scotia,PROV_Ontario,...,CMA_Ottawa,CMA_Québec,CMA_Toronto,CMA_Vancouver,CMA_Winnipeg,AGE_12_15 to 19 years,AGE_12_20 to 24 years,AGE_12_25 to 29 years,SEX_Female,SEX_Male
9,0.0,0,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
11,0.0,0,0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,True
14,0.0,1,0,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,True
31,0.0,0,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
32,0.0,0,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883179,0.0,0,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,True
883180,0.0,0,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
883189,0.0,0,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
883193,0.0,0,1,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,True,False
883202,0.0,0,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,True,False